
html {
  background-color: black;
}
main {
  background-color: black;
  color: white;
  height: 1000px;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  padding-top: 150px;
}
.button-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.title-dashboard {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 34px;
  padding-top: 50px;
}